<?xml version="1.0"?>
<config>
  <modules>
    <WTC_GUR>
      <version>0.1.0</version>
    </WTC_GUR>
  </modules>
  <global>
    <helpers>
      <gur>
        <class>WTC_GUR_Helper</class>
      </gur>
    </helpers>
	<models>
	  <gur>
		<class>WTC_GUR_Model</class>
		<resourceModel>gur_mysql4</resourceModel>
	  </gur>
			<checkout>
				<rewrite>
					<type_onepage>WTC_GUR_Model_Checkout_Type_Onepage</type_onepage>
				</rewrite>
			</checkout>
	</models>
  </global>
</config> 